<a href="https://colab.research.google.com/github/Barbhuiya12/Hydrology-/blob/main/NSE_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loading The Basic Library**

In [1]:
import numpy as np 
import pandas as pd

**Loading the dataset**

In [8]:
df=pd.read_excel("QsimCal.xlsx")
df

           Date      Qsim       Qmm  Unnamed: 3      Qobs
0    1991-06-01  0.719731  0.000000   -0.719731  0.000000
1    1991-06-02  0.715007  0.000000   -0.715007  0.000000
2    1991-06-03  0.710485  0.000000   -0.710485  0.000000
3    1991-06-04  0.706153  0.000000   -0.706153  0.000000
4    1991-06-05  0.702002  0.000000   -0.702002  0.000000
...         ...       ...       ...         ...       ...
4592 2003-12-27  0.865766  0.126257   -0.739509  0.126257
4593 2003-12-28  0.843082  0.123190   -0.719892  0.123190
4594 2003-12-29  0.834208  0.113989   -0.720219  0.113989
4595 2003-12-30  0.825659  0.111178   -0.714482  0.111178
4596 2003-12-31  0.817616  0.000000   -0.817616  0.000000

[4597 rows x 5 columns]

**Calculating the NSE(Nash Sutcliffe model Efficiency coefficient)**


*  The Nash–Sutcliffe model efficiency coefficient (NSE) is used to assess the predictive skill of hydrological models.The formula of NSE is given below :
![image.png]()
*   where ![image.png]() is the mean of observed discharges, and ![image.png]()is modeled discharge. ![image.png]()is observed discharge at time t.

In [34]:
def nse(targets,predictions):
    return 1-(np.sum((targets-predictions)**2)/np.sum((targets-np.mean(predictions))**2))

**Applying on The above dataset**

In [35]:
targets=df["Qobs"]
predictions=df["Qsim"]

####Printing the Result ###
print("The Value of  NSE: ",nse(targets,predictions))

The Value of  NSE:  0.2545277834477939